<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder with Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <form  id="audioForm" method="POST" action="{{ url_for('convert_wav') }}" 
        enctype="multipart/form-data">
            <div class="recorder-section">
                <h1>Audio Recorder</h1>
                <div class="button-container">
                    <button type="button" id="recordButton" class="record-button">
                        <span id="recordIcon" class="record-icon"></span>
                    </button>
                </div>
                <label for="fileInput" class="custom-file-upload">
                    Upload Audio
                </label>
                <input type="file" name="file" id="fileInput" accept="audio/wav">
                <div id="timer">00:00.000</div>
                <div id="fileName"></div>
                <audio id="audioPlayback" controls></audio>
            </div>

            <div class="questionnaire-section">
                <h2>Questionnaire</h2>
                <div id="questionnaireForm">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" ><br><br>

                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" ><br><br>

                    <label for="feedback">Feedback:</label><br>
                    <textarea id="feedback" name="feedback" rows="4" ></textarea><br><br>

                    <input type="submit" value="Upload File">
                </div>
            </div>
        </form>    
        
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
